:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --font-paragraph: 14px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  background-color: var(--grey-800);
  max-width: 380px;
  width: 100%;
  padding: clamp(28px, 2.5vw, 36px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  animation: slide-in 0.5s ease-out;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.profile div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

h1 {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 600;
}

span {
  color: var(--green);
  font-size: var(--font-paragraph);
  font-weight: 700;
}

p {
  color: var(--white);
  font-size: var(--font-paragraph);
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 24px;
}

button {
  background-color: var(--grey-700);
  border: none;
  border-radius: 8px;
  padding: 16px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--green);
  transform: scale(1.04);
  transition-duration: 0.6s;
}

button:focus-visible {
  outline: 2px solid var(--green);
}

button a {
  color: var(--white);
  font-size: var(--font-paragraph);
  font-weight: 700;
  text-decoration: none;
}

button:hover a {
  color: var(--grey-900);
  transition-duration: 0.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
