:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);

  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);

  --fs-base: 0.875rem;
  --fs-name: 1.5rem;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --ff-inter: "Inter", sans-serif;
  --card-container: 23.75rem;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;

  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  background-color: var(--color-grey-900);
}

main {
  max-width: var(--card-container);
  width: 100%;
  padding: clamp(1.75rem, 2.5vw, 2rem);
  border-radius: 1.25rem;
  background-color: var(--color-grey-800);

  display: flex;
  flex-direction: column;
  animation: slide-in 0.6s ease;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.avatar {
  border-radius: 100%;
  width: 90px;
  height: 90px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.name {
  font-size: var(--fs-name);
  font-weight: var(--fw-semibold);
}

.location {
  color: var(--color-green);
}

.description {
  font-weight: var(--fw-regular);
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-links a {
  background-color: var(--color-grey-700);
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
}

.social-links a:hover {
  background-color: var(--color-green);
  color: var(--color-grey-900);
  transform: scale(1.03);
  transition-duration: 0.6s;
}

.social-links a:focus-visible {
  outline: 2px solid var(--color-green);
  outline-offset: 0.25rem;
}

@media (min-width: 48rem) {
  body {
    padding: 0;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
