@import "tailwindcss";

@theme {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);

  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);

  --font-inter: "Inter", sans-serif;
  --padding-card: clamp(1.75rem, 2.5vw, 2rem);

  --card-container: 23.75rem;
  --animate-slide-in: slide-in 0.6s ease;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer base {
  * {
    @apply m-0 p-0 scroll-smooth box-border font-inter;
  }

  body {
    @apply min-h-screen flex-center px-4 py-12 md:p-0 text-sm font-bold text-white bg-grey-900;
  }

  main {
    @apply max-w-[var(--card-container)] w-full p-card rounded-2xl bg-grey-800 flex flex-col animate-slide-in;
  }
}

@layer components {
  .profile {
    @apply flex-center flex-col gap-6;
  }

  .avatar {
    @apply rounded-full h-[90px] w-[90px];
  }

  .profile-details {
    @apply flex-center flex-col gap-1;
  }

  .name {
    @apply text-2xl font-semibold;
  }

  .location {
    @apply text-green;
  }

  .description {
    @apply font-normal;
  }

  .social-links {
    @apply flex flex-col gap-4 mt-5;
  }

  .social-links a {
    @apply bg-grey-700 text-white text-center decoration-0 rounded-md px-5 py-4 cursor-pointer;
  }

  .social-links a:hover {
    @apply bg-green text-grey-900 scale-[1.03] duration-[0.6s];
  }

  .social-links a:focus-visible {
    @apply outline-2 outline-offset-2 outline-green;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
