@import "tailwindcss";

@theme {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);

  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);

  --text-paragraph: 14px;
  --font-inter: "Inter", sans-serif;

  --padding-card: clamp(28px, 2.5vw, 36px);
  --animate-slide-in: slide-in 0.5s ease-out;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility btn-hover {
  @apply hover:bg-green hover:scale-[1.04] hover:duration-[0.6s];
}

@utility btn-focus {
  @apply focus:outline-2 outline-green;
}

@layer base {
  * {
    @apply m-0 p-0 scroll-smooth box-border font-inter;
  }

  body {
    @apply min-h-screen bg-grey-900 flex-center;
  }

  article {
    @apply bg-grey-800 max-w-[380px] w-full p-card rounded-xl flex flex-col animate-slide-in;
  }

  .profile {
    @apply flex-center flex-col gap-5;
  }

  img {
    @apply rounded-full h-[100px] w-[100px];
  }

  .profile div {
    @apply flex-center flex-col gap-1;
  }

  h1 {
    @apply text-white text-2xl font-[600];
  }

  span {
    @apply text-green text-paragraph font-[700];
  }

  p {
    @apply text-white text-paragraph;
  }

  .social-links {
    @apply flex flex-col gap-4 w-full mt-5;
  }

  button {
    @apply bg-grey-700 border-0 rounded-md px-4 py-3 cursor-pointer btn-hover btn-focus;
  }

  button a {
    @apply text-white text-paragraph font-[700] decoration-0 hover:text-grey-900 hover:duration-[0.6s];
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
